* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.topnav {
    display: block;
    background-color: #333;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #00d18f;
    color: white;
}

.topnav a.active:hover {
    background-color: #ddd;
    ;
    color: rgb(0, 0, 0);
}

.btn {
    background-color: transparent;
    border: none;
    color: white;
    width: 8.4vw;
    height: 8.4vw;
    font-size: 16px;
    cursor: pointer;
}

/* Darker background on mouse-over */
.btn:hover {
    color: rgb(39, 255, 104);
}

.mobile_nav {
    display: none;
    background-color: #333;
    overflow: hidden;
}

.mobile_nav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.mobile_nav a.active {
    background-color: #00d18f;
    color: white;
}

.mobile_nav a.active:hover {
    background-color: #ddd;
    color: rgb(0, 0, 0);
}

.mobile_list{
    display: none;
}

main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.card {
    box-shadow: 5px 8px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 35%;
    height: auto;
    margin: auto;
    margin-top: 2vw;
    border-radius: 2vw;
  }
  .graph-container {
    width: 25vw;
    height: auto;
    border: 1px solid #ccc;
    margin: 0 auto;
}
  .card a{
    font-size: xx-large;
    text-decoration: none;
    color: rgb(0, 191, 255);
    margin-right: 0%;
    padding-top: 1vw;
  }
  .card h4{
    padding-top: 1vw;
    font-size: x-large;
  }
  .card p{
    padding-top: 1vw;
    font-size: medium;
  }
  .card:hover {
    box-shadow: 10px 16px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 2px 16px;
    padding-bottom: 2vw;
  }

.a_text{
    padding: 0.5vw;
}

footer{
    width: 100vw;
    height: auto;
    padding: 2vw;
    margin-top: 3vw;
    background-color: rgba(0,0,0,0.2);
}
.footer_a{
    display: flex;
    flex-direction: row;
    gap: 10vw;
    justify-content: center;
}

.footer_a a{
    text-decoration: none;
    font-size: x-large;
    color: white;
    padding: 1vw;
    border-radius: 1vw;
    background-color: rgb(61, 174, 255);
    margin-top: 0.5vw;
    box-shadow: 10px 16px 16px 0 rgba(0,0,0,0.2);
    border-style: solid;
    border-color: black;
    border-width: 2px;
}

.footer_a a:hover{
    background-color: rgb(47, 255, 161);
    box-shadow: 10px 16px 16px 0 rgb(29, 163, 103);
    color: black;
    border-color: rgb(0, 255, 140);
    transition: 500ms;
}

.htext{
    color: black;
    font-size: 2vw;
    text-align: center;
}
.hide_div p{
    display: none;
}

.uinfotext{
    text-align: center;
    padding: 2vw;
}
/* for table */
.table{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.tele{
    margin: 2vw;
}

/* for user-data */
.disData{
    text-align: center;
    display: flex;
    flex-direction: column;
}
.disData h3{
    font-size: 2vw;
    padding: 1vw;
    background-color: rgb(68, 68, 68);
    color: white;
}

.disData h4{
    font-size: 2vw;
    padding: 1vw;
    color: rgb(46, 46, 46);
}

.edit{
    margin: auto;
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 1vw;
    background: rgb(0, 255, 16);
    border-radius: 2vw;
    font-size: larger;
    width: 10vw;
    margin-bottom: 3vw;
}

.edit:hover{
    transition: 500ms;
    background-color: rgb(255, 43, 160);
}

@media only screen and (max-width: 900px) {

    .topnav {
        display: none;
    }

    .mobile_nav {
        display: inline-block;
        width: 100%;
    }

    .mobile_list{
        flex-direction: column;
        background-color: #333;
    }
    .mobile_list a{
        text-decoration: none;
        color: white;
        font-size: medium;
        text-align: center;
        padding: 3vw;
    }
    .mobile_list a:hover{
        background-color: #00d18f;
        color: white;
    }

    main{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .card {
        width: 75vw;
    }
    .graph-container {
        width: 70vw;
        height: auto;
        border: 1px solid #ccc;
        margin: 0 auto;
    }   

    h4{
        font-size: 4vw;
    }
    p{
        font-size: 2vw;
    }
    .a_text{
        font-size: 5vw;
    }

    .disData h3{
        font-size: larger;
    }
    
    .disData h4{
        font-size: larger;
    }

    .edit{
        padding: 1vw;
        font-size: larger;
        width: 50vw;
        
    }

}