{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{%static 'mainpage/sty.css'%}">
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
    <nav>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/userinfo/">User info</a>
        <a href="/seg/">Our recommendation</a>
        <a href="/alldata/">Data table</a>
        <a href="/logout/">Logout</a>  
        
    </div>
    <div class="mobile_nav">
        {% comment %} <a class="active" href="#home">Home</a> {% endcomment %}
        <button class="btn" onclick="nav_but()"><i class="fa fa-bars"></i></button>
    </div>
    <div class="mobile_list">
        <a href="/">Home</a>
        <a href="/userinfo/">User info</a>
        <a href="/seg/">Our recommendation</a>
        <a href="/alldata/">Data table</a>
        <a href="/logout/">Logout</a>
    </div>
</nav>
   {% block body %}{% endblock body %}

{% comment %} <footer>
    <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus, itaque velit! At, eaque animi adipisci ullam aliquam, ex fugit non inventore assumenda hic fugiat voluptate!</h3>
    <div class="footer_a"><a href="">Facebook</a>
    <a href="">Instagram</a>
    <a href="">Help</a>
    </div>
</footer> {% endcomment %}
        
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
<script src="{%static 'mainpage/main.js'%}"></script>
</html>