{% extends 'base.html' %}
{% block title %}UserData{% endblock title %}
{% block body %}
<div class="userdata">
    <h4 class="uinfotext">UserName = {{username}}</h4>
    <h4 class="uinfotext">Email = {{email}}</h4>
    <h4 class="uinfotext">Device Id = {{deviceid}}</h4>
    <h4 class="uinfotext">Address = {{address}}</h4>
    <h4 class="uinfotext">Area = {{area}}</h4>
    <h4 class="uinfotext">Plant Name = {{plantname}}</h4>
    <h4 class="uinfotext">Mobile Number = {{mobilenumber}}</h4>
</div>
{% endblock body %}